body {
  margin: 0;
  padding-top: 50px; /* Space for the fixed title */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-title {
  position: fixed; /* Keep it locked at the top */
  top: 0; /* At the top edge */
  left: 50%; /* Horizontally centered */
  transform: translateX(-50%); /* Adjust for exact centering */
  color: whitesmoke;
  font-size: 2.5em;
  padding: 10px 20px; /* Adjusted padding for breathing room on sides too */
  background-color: #121212;
  border-radius: 20px;
  text-align: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.app-container {
  text-align: center;
  background-color: #121212;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.joke-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.get-joke-button {
  background-color: #1db954;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.get-joke-button:hover {
  background-color: #14a43d;
}
